@use 'variables'
@use 'mixins'


//375px screens
body
  @include mixins.css-reset()
  width: 100vw
  height: 100vh

.hdr
  box-sizing: border-box
  width: 100%
  display: flex
  padding: 30px 30px
  justify-content: space-between
  flex-wrap: wrap
  
  &-logo
    width: 1.5em

  &-nav
    display: none
    box-sizing: border-box
    background: variables.$light-grayish-blue
    position: absolute
    top: 7.31rem
    right: 2,.81rem
    left: 3.93rem
    width: 16.88rem
    height: 13.5rem
    box-shadow: 9px 10px 8px -10px variables.$dark-grayish-blue
  & a
    margin: 0
    width: 100%
    font-family: variables.$font-heading-callToAction-navigation    
    text-align: center
    height: 0
    text-decoration: none  
    text-transform: uppercase
    font-size: 1em
    font-weight: 700
    color: variables.$very-dark-blue
    & h4  
     border: none
     margin: 1.2em auto
    &:last-child
      width: 80%
      margin: 0.8em auto
      display: flex
      color: variables.$grayish-blue 
      border-top: 1px solid #ccc
      flex-shrink: 3

  
  &-button
    border: none
    &:hover
      opacity: 80%

.main
  box-sizing: border-box
  background: variables.$light-grayish-blue
  width: 100%
  padding: 30px
  display: flex
  flex-direction: column
  flex-wrap: wrap

.image-box
  margin: 0 -1.3888em
  width: 20.55em
  height: 464px
  overflow: hidden

  & img
    padding: 0
    width: 505px

.container
  margin-top: -7em
  
  &-p1
    @include mixins.font-color-and-width($w: 100%, $c: variables.$grayish-blue )
    text-transform: uppercase
    font-size: 14px
    margin-bottom: -10px
    word-spacing: 0.2em
    letter-spacing: 0.15em
  
    &-span
      @include mixins.font-color-and-width($w: 3.5em, $c: variables.$light-grayish-blue)
      box-sizing: border-box
      margin-right: 1rem
      padding: 5px
      text-align: center
      align-items: center
      font-weight: bold
      display: inline-block
      background: variables.$very-dark-blue
      border-radius: 20px  
  
  &-h1
    @include mixins.font-color-and-width($w: 90%, $c: variables.$very-dark-blue )
    font-family: variables.$font-heading-callToAction-navigation
    font-weight: 700
    text-transform: uppercase
    
  
  &-p2
    @include mixins.font-color-and-width($w:90%, $c: variables.$dark-grayish-blue)
    margin-top: -10px
  
  &-p3
    @include mixins.font-color-and-width($w:100%, $c: variables.$grayish-blue)
    text-transform: uppercase
    font-size: 14px
   
    &-button
     @include mixins.font-color-and-width($w: 150px, $c: variables.$light-grayish-blue)
     font-family: variables.$font-heading-callToAction-navigation    
     height: 3em
     word-spacing: 0.1em
     letter-spacing: 0.1em 
     margin-right: 10px
     text-transform: uppercase
     padding: 10px
     font-size: 1em
     font-weight: bold
     border: none
     border-radius: 5px  
     background: variables.$Red
     &:hover
      opacity: 80%

    & p
      display: inline-block

.footer
  padding: 0 35px
  box-sizing: border-box
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  @include mixins.font-color-and-width($w:100%, $c: variables.$dark-grayish-blue)
  & p
    font-size: 0.8em
    & a
      text-decoration: none
      width:50%

//320px screens

@media (width <= 320px)

  .hdr
    width: 100%
    &-nav
      top: 6.31rem
      left: 1.93rem

  .image-box
    margin: 0 -1.3888em
    width: 17.55em
    height: 464px
    overflow: hidden

  .container 
    &-p1  
      &-span
        margin-right: 0.9em
    &-p3
      &-button  
        padding-bottom: 40px
        font-size: 1em
        width: 40%  
        margin-right: 0.5em

//above 375px
@media (width > 375px) and (width < 1200px)
  .hdr
    box-sizing: border-box
    margin: 0 auto
    max-width: 600px
    &-nav
      top: 15%
      margin: 0 auto
      width: 70vw
  
  .main
    margin: 0 auto
    max-width: 600px
    padding: 0 0 0 1em

  .image-box
    margin: 0 
    padding: 0
    width: 100%
    height: 464px
    overflow: hidden
    & img
     padding: 0

//desktop  
@media (min-width: 1200px)
  .hdr
    &-logo
      margin-left: 4.7em
      height: 1.5em
    &-button
      display: none
    &-nav
      display: flex
      position: static
      height: auto
      width: auto
      margin: 0
      padding: 0
      box-shadow: none
      & a
        font-size: 1.5em
        padding-right: 2em
        &:hover
          text-decoration: underline
        &:last-child
         width: 100px 
         height: auto
         display: flex 
         align-items: center
         justify-content: center
         padding-right: 10em
         margin: 0 
         border: none
         &::before
            position: relative
            top: -0.7rem
            padding-right: 3rem
            opacity: 50%
            content: '.'
            color: variables.$grayish-blue
            font-size: 2em

  .main
    margin: 0
    padding: 0
    display: grid 
    grid-auto-flow: column
    grid-template-columns: 1fr 1fr
    align-items: center
  .container
    margin: 0
    margin-left: 6em
    grid-column: 1
    align-content: center
    &-h1
      font-size: 3em
      width: 70%
    & p
      font-size: 1em
    & button:hover
      cursor: pointer
      
  .image-box  
    margin: 0
    padding: 0
    height: auto
    width:100%
    grid-column: 2
    & img
      width: 69vw
        
